.DS_Store
*.dSYM/
cpp/tests/TestLRSplines
build/
__pycache__/
*.pyc
.venv/
/cpp/tests/data/.vs
/cpp/tests/.vs
/cpp/VCProj/.vs/VCProj
/cpp/VCProj/VCProj/x64/Debug
/cpp/VCProj/x64/Debug
/cpp/VCProj/VCProj/x64/Release
/cpp/VCProj/x64/Release
